html {
  height: 100%;

}

body {
  min-height: 100%;
}

#app {
  background-color: #f2f2f2;
  height: -webkit-fill-available;
}

#myContent {
  background-color: #fff;
  height: -webkit-fill-available;
  margin: 0 auto;
}

#myContent > div {
  margin-bottom: 54px;
}

@media (min-width: 1200px) {
  #myContent {
    width: 1170px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #myContent {
    width: 970px;
  }
}
