html {
  height: 100%;

}

body {
  min-height: 100%;
}

#app {
  background-color: #f2f2f2;
  height: -webkit-fill-available;
}

#myContent {
  background-color: #fff;
  height: -webkit-fill-available;
}

@media (min-width: 992px) {
  #myContent {
    margin: 0 27px 0 27px;
  }
}
