html {
  height: 100%;
  @font-face {
      src: url('{{ public_path('fonts/interstate/interstate-regular-comp-58b641cc0aca1.otf') }}');
  }
}

body {
  min-height: 100%;
}

#app {
  background-color: #f2f2f2;
  height: -webkit-fill-available;
}

#myContent {
  margin: 0 27px 0 27px;
  padding: 20px 20px 0 20px;
  background-color: #fff;
  height: -webkit-fill-available;
}
