.song-container {
  height: auto;
  width: 100%;
}

.song-body {
  display: flex;
  flex: 1;
  position: relative;
  height: 100%;
}

.song-body-image {
  position: relative;
  margin-right: 15px;
}

.song-image {
  display: block;
  width: 160px;
  height: 160px;
  z-index: 2;
}

.song-content {
  flex: 1;
  overflow-x: hidden;
}

.song-content-header {
  position: relative;
  margin: 0 0 6px 0;
  padding-top: 7px;
  min-height: 43px;
  z-index: 2;
}

.song-content-header-titleContainer {
  display: flex;
  align-items: flex-start;
}

.titleContainer-playButton {
  margin-right: 5px;
}

.titleContainer-playButton > a {
  width: 36px;
  height: 36px;
  background-color: #f50;
  border-radius: 50%;
  margin: 1px 0;
  padding: 0;
  border: 0;
  display: inline-block;
  position: relative;
}

.titleContainer-playButton > a > img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 8px 8px 8px 10px;
}

.titleContainer-usernameTitle {
  margin-right: 5px;
  text-align: left;
}

.titleContainer-usernameTitle > .username > a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #999;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.titleContainer-usernameTitle > a {
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 100;
  color: #333;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.titleContainer-spacer {
  flex-grow: 1;
}

.titleContainer-additional {
  align-self: flex-start;
  margin-left: 5px;
  text-align: right;
}

.titleContainer-additional > .uploadTime {
  color: #ccc;
  font-size: 12px;
  font-weight: 100;
  line-height: 16px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.titleContainer-additional > .privateStatus {
  line-height: 12px;
  margin-top: 2px;
}

.titleContainer-additional > .privateStatus > span {
  background: #f50;
  color: #fff;
  font-size: 11px;
  line-height: 16px;
  height: 16px;
  padding: 0 7px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  border-radius: 4px;
  font-weight: 600;
}

.titleContainer-additional > .privateStatus > span::before {
  font-family: 'FontAwesome';
  content: "\f023";
  width: 18px;
  height: 18px;
  left: 2px;
}

@media (max-width: 768px) {
  .titleContainer-additional > .privateStatus > span > span {
    display: none;
  }
}

/* Waveform */
.song-content-waveform {
  height: 60px;
  position: relative;
}

/* Comment */
.song-content-comment {
  margin-top: 22px;
  opacity: 1;
  position: relative;
  z-index: 3;
}

.song-content-commentWrapper {
  height: 30px;
  overflow: visible;
  padding: 5px;
  background: #f2f2f2;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
}

.song-content-comment-avatar {
  width: 20px;
  height: 20px;
  margin-right: 0;
  position: relative;
  float: left;
}

.song-content-comment-avatar > .song-comment-user-image {
  width: 20px;
  height: 20px;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
}

.song-content-comment-input {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
  flex-grow: 1;
}

.song-comment-input {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  padding: 0 9px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  font-family: inherit;
  color: #333;
  margin: 0;
}

/* Footer */
.song-content-footer {
  position: relative;
  margin-top: 10px;
  min-height: 30px;
  box-sizing: border-box;
}

.song-footer-rigth {
  position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.see-all-comments-icon {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0;
  padding-right: 0;
  color: #999;
  font-size: 11px;
  line-height: 12px;
  display: inline-block;
  font-family: "InterstateSound Tnum","Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

/* Comments modal */
.comment-card {
  margin: 7px 0 7px;
  padding: 0 15px 10px;
  border-radius: 4px;
  border: solid 1px #f2f2f2;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 12px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.comment-card-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  position: relative;
  float: left;
  margin-top: 7px;
}

.comment-card-user-photo {
  width: 40px;
  height: 40px;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
}
