.song-container {
  height: auto;
}

.song-body {
  display: flex;
  flex: 1;
  position: relative;
  height: 100%;
}

.song-body-image {
  position: relative;
  margin-right: 15px;
}

.song-image {
  display: block;
  width: 160px;
  height: 160px;
  z-index: 2;
}

.song-content {
  flex: 1;
  overflow-x: hidden;
}
