@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
        margin: 7.5px 50px 7.5px -15px
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    #myNavbar-container {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      margin-right: 0;
      margin-left: 0;
    }

    .navbar-header, #myNavbar {
      padding-right: 15px;
      padding-left: 15px;
    }

    #coleccion {
      border-width: 0;
    }
}

@media (min-width: 992px) {


  #navbar {
    margin-bottom: 0;
  }

  .dropdown-menu {
    border: 0;
    padding: 0;
  }

  .dropdown-menu > li > a {
    padding: 6px 20px 8px 20px;
  }

  .dropdown-menu .divider {
      margin: 0;
  }

  .navbar-middle {
    width: 33%;
  }

  .navbar-middle > form {
    width: 100%;
  }

  .navbar-middle > form > .input-group {
    width: 100%;
  }

  .span-btn-search {
    width: 34px;
  }

  #lista-exitos {
    width: 104px;
  }

  #lista-exitos > a {
    padding: 15px 3px 15px 9px;
  }

  #inicio, #coleccion {
    width: 90px;
  }

  #coleccion {
    border-width: 0 1px;
  }

  .myNavbar-icon {
    height: 46px;
    width: 40px;
    margin: 2px;
  }

  .myNavbar-icon > a {
    width: 100%;
    width: 40px;
    height: 100%;
  }

  #notificaciones, #mensajes {
    display: flex;
  }
}

@media (max-width: 991px) {
  #coleccion {
    border-width: 0;
  }

  .navbar-nav {
    margin: 0px -15px;
  }

  .navbar-form {
    padding: 10px 15px;
    margin: 0;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  }

  .nav > li {
    display: inline-block;
  }

  #inicio, #coleccion {
    width: 49%;
  }

  #lista-exitos {
    width: 100%;
  }

  #lista-exitos > a {
    text-align: center;
  }

  .navbar-middle > form {
    width: 100%;
  }

  .navbar-middle > form > .input-group {
    width: 100%;
  }

  #notificaciones, #mensajes {
    width: 52px;
    text-align: center;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #ccc;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #111;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #333;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-width: 0;
}

.dropdown-menu {
  background-color: #111;
}

.dropdown-menu > li > a {
  color: #ccc;
}

.dropdown-menu > li > a:hover {
  background-color: #333;
  color: #ccc;
}

.dropdown-menu .divider {
    background-color: #333;
}

@media (min-width: 768px) {
  .navbar-form .input-group .input-group-btn {
      width: 34px;
  }
}

@media (min-width: 426px) {
  #myButtons-separator {
    display: none;
  }
}

#navbar {
  background: #333;
  border-bottom: 0;
}

#navbar-brand {
  display: inline-flex;
  background: linear-gradient(#f70,#f30);
}

#brand-name {
  color: #fff;
}

#inicio {
  background: rgb(0, 0, 0);
  text-align: center;
}

#coleccion {
  border-color: rgb(0, 0, 0);
  border-style: solid;
  text-align: center;
}
