.image-banner {
  position: absolute;
  top: -20px;
  left: 0;
  height: 350px;
  width: 100%;
  z-index: 2;
  opacity: 1;
  transition: opacity .3s;
}

.nav-tabs > li.active > a {
  border-color: #ffffff;
  border-bottom: 2px solid #f50;
  color: #f50;
  cursor: default;
}

.nav-tabs > li.active > a:hover {
  border-color: #ffffff;
  border-bottom: 2px solid #f50;
  color: #f50;
  cursor: default;
}

.nav-tabs > li.active > a:focus {
  border-color: #ffffff;
  border-bottom: 2px solid #f50;
  color: #f50;
  cursor: default;
}

.nav-tabs > li > a {
  color: black;
  text-decoration: bold;
  border: 0;
}

.nav-tabs > li > a:hover {
  border-color: black;
  border-bottom: 2px solid black;
  background-color: #ffffff;
  outline: 0;
}

.profile-image-row {
  height: 100%;
}

.profile-header {
  height: 350px;
}

.user-profile-name {
  color: #fff;
  font-size: 24px;
  line-height: 37px;
  padding: 4px 7px;
  background-color: rgba(0,0,0,.8);
  display: inline-block;
  margin-top: 70px;
}

.profile-image-container {
  display: inline-flex;
  height: 100%;
}

.profile-image {
  border-radius: 50%;
}

.upload-landphoto {
  margin-top: 30px;
  float: right;
  margin-right: 10px;
}

.upload-profile-photo-button {
  /*
  margin: auto;
  bottom: 0;
  position: absolute;
  vertical-align: middle;
  margin-bottom: 100px;*/
  margin: 52% -61%;
  position: absolute;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

#background-default {
  background: rgba(0, 0, 0, 0) linear-gradient(315deg, rgb(159, 93, 86) 0%, rgb(63, 40, 38) 100%) repeat scroll 0% 0%;
}

.profile-photo {
  margin: auto;
  text-align: center;
}

.upload-profile-photo-button > i {
  margin-right: 5px;
}

.upload-landphoto > i {
  margin-right: 5px;
}

.btn-primary {
  background-color: #f50;
  border-color: #f50;
  color: #fff;
}

.btn {
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.modal-body {
  padding: 0;
}

.modal-content {
  border-radius: 0;
  padding: 25px;
  margin-top: 0;
}

.title-modal {
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  text-decoration: bold;
  margin-top: 0;
}
