.image-banner {
  position: absolute;
  top: -20px;
  left: 0;
  height: 350px;
  width: 100%;
  z-index: 2;
  opacity: 1;
  transition: opacity .3s;
}

.nav-tabs > li.active > a {
  border-color: #ffffff;
  border-bottom: 2px solid #f50;
  color: #f50;
  cursor: default;
}

.nav-tabs > li.active > a:hover {
  border-color: #ffffff;
  border-bottom: 2px solid #f50;
  color: #f50;
  cursor: default;
}

.nav-tabs > li.active > a:focus {
  border-color: #ffffff;
  border-bottom: 2px solid #f50;
  color: #f50;
  cursor: default;
}

.nav-tabs > li > a {
  color: black;
  text-decoration: bold;
  border: 0;
}

.nav-tabs > li > a:hover {
  border-color: black;
  border-bottom: 2px solid black;
  background-color: #ffffff;
  outline: 0;
}

.profile-image-row {
  height: 100%;
}

.profile-header {
  height: 350px;
}

.user-profile-name {
  color: #fff;
  font-size: 24px;
  line-height: 37px;
  padding: 4px 7px;
  background-color: rgba(0,0,0,.8);
  display: inline-block;
  margin-top: 70px;
}

.profile-image-container {
  display: inline-flex;
  height: 100%;
}

.profile-image {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.upload-landphoto {
  margin-top: 30px;
  float: right;
  margin-right: 10px;
}

.upload-profile-photo-button {
  /*
  margin: auto;
  bottom: 0;
  position: absolute;
  vertical-align: middle;
  margin-bottom: 100px;*/
  margin: -60px -70px;
  position: absolute;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.upload-profile-photo-modal-lg {
  margin: 200px -190px;
}

#background-default {
  background: rgba(0, 0, 0, 0) linear-gradient(315deg, rgb(159, 93, 86) 0%, rgb(63, 40, 38) 100%) repeat scroll 0% 0%;
}

.profile-photo {
  margin: auto;
  text-align: center;
}

.upload-profile-photo-button > i {
  margin-right: 5px;
}

.upload-landphoto > i {
  margin-right: 5px;
}


.user-media-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-primary {
  background-color: #f50;
  border-color: #f50;
  color: #fff;
}

.btn {
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.modal-body {
  padding: 0;
}

.modal-content {
  border-radius: 0;
  padding: 25px;
  margin-top: 0;
}

.title-modal {
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  text-decoration: bold;
  margin-top: 0;
}

.sound__trackList {
  margin-top: 15px;
  font-size: 12px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: relative;
}

.compactTrackList__item {
  /*display: list-item;
  text-align: -webkit-match-parent;*/
}

.compactTrackListItem {
    display: block;
    position: relative;
    color: #999;
    line-height: 30px;
    height: 30px;
    padding-left: 5px;
    outline: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.compactTrackListItem__image {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sc-artwork {
  width: 20px;
  height: 20px;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
}

.compactTrackListItem__number {
    margin-right: 5px;
    margin-left: 5px;
    color: #333;
}

.compactTrackListItem__content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #333;
}

.sc-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
}

.compactTrackListItem__trackTitle {
  color: #333;
}

.playlist-item-profile {
  margin-bottom: 40px
}

.playlist-image {
  height: 250px;
  width: 250px;
}

.playlist-title {
  margin-left: 20px;
  margin-top: 0;
}

.playlist-values {
  margin-top: 40px;
}

.time-ago {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.playlist-profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-name-link {
  color: #333;
  font-weight: 100;
  font-size: 14px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  line-height: 1.3;
}
